.header-img {
    width: 100px;
    vertical-align: middle;
}
.logo-div {
    margin-left: 45px;
}
.head-logo {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin-top: 5px;
}
.head-logo-text {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 5px;
}
.ul-nav {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
}
.nav-item {
    border-right: 1px solid lightslategray;
}
.nav-item:nth-child(4) {
    border-right: none;
}
.carousel-img {
    height: 400px;
}
.purp-img {
    width: 300px;
}
.paragraph {
    font-family: Open+Sans+Condensed;
    font-size: 20px;
}
.ul-footer {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}
