.header-img {
    width: 100px;
    vertical-align: middle;
}
.logo-div {
    margin-left: 45px;
}
.head-logo {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin-top: 5px;
    text-decoration: none;
}
.head-logo-text {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 5px;
    text-decoration: none;
}
.ul-nav {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
}
.nav-item {
    border-right: 1px solid lightslategray;
}
.nav-item:nth-child(3) {
    border-right: none;
}
.carousel-img {
    height: 400px;
}
.purp-img {
    width: 300px;
    height: 500px;
}
.carousel-class {
    padding-top: 3.5px;
}
.imgurs {
    vertical-align: middle;
    padding: 15px;
}
.imgurs:hover {
    opacity: 0.6;
}
.purp-img {
    width: 300px;
    padding: 25px;
}
.paragraph {
    font-family: Open+Sans+Condensed;
    font-size: 20px;
    
}
p {
    padding: 25px;
}
.ul-footer {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}


.newColumn {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    width: 300px;
    height: 300px;
  }
  
  /* Create four equal columns that sits next to each other */
  .columnPictures {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    border: dotted;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }


  #newContainer {
      padding-left: auto;
      padding-right: auto;
  }

  #pictureDisplay {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }