
.not-index {
    background-color: #1f2225a1;
    animation: myanimation 10s infinite;
  }
  
  @keyframes myanimation {
    0% {background-color: #1f2225a1;}
    25% {background-color:#565657a1;}
    50% {background-color:#acadada1;}
    75% {background-color:#565657a1;}
    100% {background-color: #1f2225a1;}
  
  }
.header-img {
    width: 100px;
    vertical-align: middle;
}
.logo-div {
    margin-left: 45px;
}
.head-logo {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin-top: 5px;
    color: #343a40;

}
.head-logo-2 {
    line-height: 1;
}
.head-logo-text {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 5px;
    color: #343a40;
    
}
.head-logo:hover {
    color: rgba(0, 0, 0, 0.24);
}
.head-logo-text:hover {
    color: rgba(0, 0, 0, 0.24);
}
.ul-nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.nav-item {
    border-right: 1px solid lightslategray;
}   
.nav-item:nth-child(3) {
    border-right: none;
}
.display-3 {
    font-family: 'Playball', cursive;

}
.carousel-img {
    height: 800px;
}
.purp-img {
    width: 300px;
    height: 500px;
}
.carousel-class {
    padding-top: 3.5px;
    padding-right: 0 !important;
}
.imgurs {
    vertical-align: middle;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.767);
}
.imgurs:hover {
    opacity: 0.6;  
}

.purp-img {
    width: 300px;
    padding: 25px;
}
.paragraph {
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.quest {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.ul-footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.fa-div {
    margin-left: 30%;
}
.fa {
    margin-bottom: 0;
}
.fa-ca {
    padding-left: 40px;
}
.fa li {
    display: inline;
    padding: 5px;
}
.fa li:hover {
    opacity: .3;
}
.mid-row {
    margin-top: 55px;
}

.newColumn {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid rgba(56, 55, 55, 0.835);
    margin-left: 15px;
    box-shadow: 10px 10px 5px rgba(37, 37, 37, 0.527);
  }
  
  /* Create four equal columns that sits next to each other */
  .columnPictures {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    border: dotted;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  


  @media screen and (max-width: 900px) {
    .nav-item {
        border-right: none;
    }  
  }
  @media screen and (max-width: 770px) {
    .imgurs {
        margin-left: auto;
        margin-right: auto;
    }
  }

  /* deleting borders on navbar */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 1000px) {
    .logo-div {
        margin-left: 0;
    }
    .b-nav {
        display: flex;
        flex-wrap: nowrap;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  @media screen and (max-width: 457px) {
    .nav-img-b {
        display: none;
    }
    .fa {
        padding-left: 0px;
    }
    .fa-div {
        margin-left: auto;
        margin-right: auto;
    }
    .fa-ca {
        padding-left: 0px;
    }
    .fixed-bottom {
        position: static!important;
    }
    .carousel-img {
        width: 1000px!important;
        float: right;
    }
  }
  @media screen and (max-width: 407px) {
    .card-img-top {
      flex: 100%;
      max-width: 100%;
    }
  }
  @media screen and (max-width: 990px) {
    .card {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  #newContainer {
      padding-left: auto;
      padding-right: auto;
  }

  .pictureDisplay {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }


.pictureLinks {
    color: white;
}

.pictureLinks:hover {
    color: grey;
}

#contactInfo {
    font-weight: bold;
}

.info {
    line-height: 20px;
    font-size: 20px;
}

#collapseCard2 {
    padding-top: 35px;

}

.aboutMe {
    font-size: 25px;
}

.row {
    display: flex;
}